*{
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu; 
}
html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #007369;
}
.centrar{
height: auto;
display: flex;
flex-direction: column;
align-items: center;
}
.error{
    padding: 20px;
    background: #02A676;
    border: 5px solid #003840;
    border-radius: 14px;
}
tbody{
    display: flex;
    flex-wrap: wrap;
    height: 30vw;
    align-items: center;
}
tr{
    display: flex;
    flex-direction: column;
}
td{
    padding: 0;
}
body > div > form > table > tbody > tr:nth-child(1),body > div > form > table > tbody > tr:nth-child(2){
flex: 0 0 45%;
}
body > div > form > table > tbody > tr:nth-child(3){
    flex: 0 0 10%;
    }