@font-face{
    font-family: tiza;
    src: url(../fuentes/tiza.ttf)
}
html,body{
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: tiza;
    color: white;
}

.fondo{
    background-image: url(../img/Chalk-board-wallpaper-hd.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    grid-row: 1/3;
    grid-column: 1/4;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#header{
    display: flex;
    padding-top: 15px;
}

#logo{
    flex: 0 0 50%;
    background-image: url(../img/stoppingpellas-logoAlargado.png);
    background-repeat: no-repeat;
    height: 136px;
    background-position-x: 50%;
}
#header > div:nth-child(2){
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header > div:nth-child(2) a{
    margin: 0px 19px;
    font-size: 35px;
    color: white;
    
}

#header > div:nth-child(2) > a:nth-child(1){
    display: none;
}
.contenido{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 10px;
}
.contenido h1{
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    margin: 10px 0px;
}

.contenido > form{
    grid-column: 1/4;
    margin:auto;
}

input[type="text"]{
    width: 100%;
    background: transparent;
    border: white 2px solid;
    border-radius: 5px;
    color: white;
    font-family: tiza;
    font-size: 15px;
    padding: 5px 3px;
    margin-left: 5px;
}

input[type="password"]{
    width: 100%;
    background: transparent;
    border: white 2px solid;
    border-radius: 5px;
    color: white;
    font-family: tiza;
    font-size: 15px;
    padding: 5px 3px;
    margin-left: 5px;
}

input[type="submit"]{
    width: 103%;
    background: transparent;
    border: white 2px solid;
    border-radius: 5px;
    color: white;
    font-family: tiza;
    font-size: 15px;
    padding: 5px 3px;
    margin-left: 5px;
    margin-top: 10px;
    transition: all 0.2s;
}
input[type="submit"]:hover {
    background: white;
    color: #4c5156;
}
.error,.correcto{
    grid-column: 1/span2;
}
.error{
    text-align: center;
    color: #bd3428;
    text-shadow: 4px 2px 1px black;
    
}
.correcto{
    text-align: center;
    color: #18b80a;
    text-shadow: 4px 2px 1px black;
}
.volver{
    position: fixed;
    color: white;
    font-size: 50px;
    top: 35px;
    left: 54px;
}
@media (max-width:870px){
    .volver{
        top: 139px;
    }
}
/*<a href="../adminPHP/pantallaAdmin.php" class="volver"><i class="fas fa-arrow-circle-left"></i></a>*/
