body{
    margin:0;
    padding: 0;
    text-align: center;
}
input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    margin:20px auto;
    border-radius: 3px;
    border:solid 1px gray;
}
input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin-top:0;
}
h1{
    color:blue;
}